adjustText==1.3.0
aiobotocore
aiofiles
aiohttp
aioitertools
aiosignal
aiosqlite
alabaster
anaconda-catalogs
anaconda-client==1.12.0
anaconda-navigator==2.4.2
anaconda-project
annotated-types==0.7.0
anyio
appdirs==1.4.4
applaunchservices
appnope
appscript
argon2-cffi
argon2-cffi-bindings
arrow
asgiref==3.9.2
astroid
astropy
asttokens
async-timeout
atomicwrites==1.4.0
attrs==23.2.0
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
black==24.4.2
bleach
blinker==1.9.0
bokeh
boltons
boto3
botocore
Bottleneck
brotlipy==0.7.0
bs4==0.0.2
cachetools==5.4.0
certifi==2025.10.5
cffi
chardet
charset-normalizer==2.1.1
click==8.2.1
cloudpickle
clyent==1.2.2
colorama
colorcet
comm==0.2.3
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli==1.0.41
conda-token
conda-verify==3.4.2
conda_index
conda_package_streaming
constantly==15.1.0
contourpy
cookiecutter
cryptography
cssselect==1.2.0
curl_cffi==0.13.0
cycler
cytoolz
dask
datashader
datashape==0.5.4
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
dj-database-url==3.0.1
Django==5.2.6
django-cors-headers==4.9.0
django-spa==0.3.6
djangorestframework==3.16.1
docstring-to-markdown
docutils
duckduckgo_search==6.2.1
entrypoints
et-xmlfile==1.1.0
executing
fake-useragent==1.5.1
fastjsonschema
feedparser==6.0.11
fica==0.4.1
filelock
flake8
Flask==2.2.2
Flask-SQLAlchemy==3.0.2
fonttools==4.25.0
fqdn==1.5.1
frozendict==2.4.4
frozenlist
fsspec
future
gensim
gitdb==4.0.12
GitPython==3.1.45
glob2
gmpy2
google-api-core==2.19.1
google-api-python-client==2.137.0
google-auth==2.32.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
googleapis-common-protos==1.63.2
greenlet
gspread==6.2.1
gunicorn==23.0.0
h11==0.14.0
h5py
HeapDict
holoviews
html5lib==1.1
httplib2==0.22.0
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
introcs==1.3.1
ipykernel
ipylab==1.1.0
ipython
ipython-genutils
ipywidgets==8.1.7
isoduration==20.11.0
isort
itemadapter
itemloaders
itsdangerous==2.1.2
jaraco.classes
jedi
jellyfish
Jinja2
jinja2-time
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter-server
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server_fileid
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab_server
jupyterlab_widgets==3.0.15
jupytext==1.17.3
keyring
Kivy==2.2.1
Kivy-Garden==0.1.5
kiwisolver
lazy-object-proxy
lazy_loader
libarchive-c
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
mistune
more-itertools
mpmath
msgpack
multidict
multipledispatch
multitasking==0.0.11
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.4.0
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
oauth2client==4.1.3
oauthlib==3.3.1
openpyxl==3.0.10
otter-grader==6.1.4
outcome==1.3.0.post0
packaging
pandas==2.3.2
pandocfilters
panel
param
parse==1.20.2
parsel
parso
partd
pathlib
pathspec
patsy==0.5.3
peewee==3.17.6
pep8==1.7.1
pexpect
pickleshare
Pillow==9.4.0
pkginfo
platformdirs
plotly
pluggy
ply==3.11
pooch
poyo
prometheus-client
prompt-toolkit
Protego
proto-plus==1.24.0
protobuf==5.27.2
psutil
psycopg2-binary==2.9.10
ptyprocess
pure-eval
py-cpuinfo
pyarrow==11.0.0
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycollada==0.9
pycosat
pycparser
pyct
pycurl==7.45.2
pydantic==2.11.7
pydantic_core==2.33.2
PyDispatcher==2.0.5
pydocstyle
pyee==8.2.2
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-CoreServices
pyobjc-framework-FSEvents
pyodbc
pyOpenSSL
pyparsing
pyppeteer==1.0.2
PyQt5-sip==12.11.0
pyquery==2.0.0
pyreqwest_impersonate==0.5.1
pyrsistent
PySocks
pytest
python-dateutil
python-dotenv==1.0.1
python-json-logger
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-on-whales==0.78.0
python-slugify
python-snappy
pytoolconfig
pytz
pyviz-comms
PyWavelets
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib==1.5.0
regex
requests==2.32.5
requests-file
requests-html==0.10.0
requests-oauthlib==2.0.0
requests-toolbelt
rfc3339-validator
rfc3986-validator
rope
rsa==4.9
Rtree
ruamel-yaml-conda
ruamel.yaml
s3fs
s3transfer
sacremoses
scikit-image
scikit-learn
scipy==1.10.1
Scrapy
seaborn
selenium==4.23.0
Send2Trash
service-identity
sgmllib3k==1.0.0
shapely==2.1.0
sip
six
smart-open
smmap==5.0.2
sniffio==1.3.1
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy==1.4.42
sqlparse==0.5.3
stack-data
statsmodels
sympy
tables
tabulate
TBB==0.2
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
toml
tomlkit
toolz
tornado
tqdm
traitlets
transformers
trio==0.26.0
trio-websocket==0.11.1
Twisted
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
uc-micro-py
ujson
Unidecode
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.12
w3lib
watchdog
wcwidth
webcolors==24.11.1
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==2.2.2
whatthepatch
whitenoise==5.3.0
widgetsnbextension==4.0.14
wrapt==1.17.3
wsproto==1.2.0
wurlitzer
xarray
xlrd==2.0.1
xlwings
xyzservices
y-py
yahoo-fin==0.8.9.1
yapf
yarl
yfinance==0.2.66
ypy-websocket
zict
zipp
zope.interface
zstandard
